@model Master_Project_Dto
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    var flag = true;
    var token = Context.Session.GetString("token");
    var empEmail = Context.Session.GetString("empEmail");
}
}





<div class="row mt-5">

    <div class="col-md-2"></div>
    <div class="col-md-8 mt-4">
        <a asp-controller="Home" asp-action="Navigate" class="text-start btn btn-warning">Go to HomePage</a>

        <div class="row">
            <div class="col">
                <div class="col text-end">
                </div>
                <h3 class="mt-4">Evaluation Page</h3>
            </div>
            @if (empEmail != null)
            {


                <div class="col text-end">
                    <a asp-controller="MasterBR" asp-action="Create" class="btn btn-dark">Add new Candidate</a>
                </div>
            }
        </div>
        <div class="row">
            <table class="table table-hover shadow">
                <thead>
                    <tr>
                        <th>Candidate Id</th>
                        <th>Candidate Name</th>
                        <th>Target BR</th>
                        <th>Internal/External</th>
                        <th>Status</th>
                        <th>Location</th>
                        @if (empEmail != null)
                        {

                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MasterViewModels.Count <= 0)
                    {
                        flag = false;
                    }
                    else
                    {


                        foreach (var item in Model.MasterViewModels)
                        {


                            <tr>
                                <td>@item.CandidateId</td>
                                <td>@item.CandidateName</td>

                                @foreach(var proj in Model.ProjectViewModels)
                                {
                                    @if(proj.Id == item.ProjectId)
                                    {
                                        <td>@proj.ProjectName</td>
                                    }
                                }
                               
                                <td>@item.Int_Ext</td>

                                @if (item.Status == "SELECTED")
                                {
                                    <td class="text-success"><strong> @item.Status</strong></td>
                                }
                                else if (item.Status == "REJECTED")
                                {
                                    <td class="text-danger"><strong>@item.Status</strong></td>
                                }
                                else
                                {
                                    <td>
                                        <strong>

                                    @item.Status

                                    </strong>

                                    </td>
                                }


                               @* <td>@item.Status</td>*@
                                <td>@item.Location</td>
                                @if (empEmail != null)
                                {

                                    <td>
                                        <a asp-controller="MasterBR" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-controller="MasterBR" asp-action="Edit" asp-route-id="@item.Id">Customize</a> |
                                        <a asp-controller="MasterBR" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                }

                            </tr>

                        }
                    }
                </tbody>
            </table>
            @if (!flag)
            {
                <h3>NO Records Found!</h3>
            }
        </div>
    </div>

</div>


