@model DomainViewModel
@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Details";
    var token = Context.Session.GetString("token");
    var empEmail = Context.Session.GetString("empEmail");
}


<h1 class="text-center mt-4 mb-5">Details of @Model.ProjectName</h1>
<a class="btn btn-dark" asp-controller="ProjectBr" asp-action="Index">Back to List</a>
@if (empEmail != null)
{


    <div class="col text-end">
        <a class="btn btn-dark" style="margin-left:90%" asp-controller="Domain" asp-action="Edit" asp-route-id="@Model.Id">Customize</a>
    </div>
}



<table class="table table-hover table-bordered border-primary m-2">
    <thead class="bg-info">
        <tr>
            <th>Project Name</th>
            <th>Approved Date</th>
            <th>Grade</th>
            <th>No Positions Required</th>
            <th>Age</th>

            <th>Skills Required</th>
            <th>Status</th>
            <th>Job Description</th>

        </tr>

    </thead>
    <tbody>
        <tr>
            <td>@Model.ProjectName</td>
              <td>@Model.ApprovedDate.ToShortDateString()</td>
            <td>@Model.Grade</td>
            <td>@Model.No_Of_Positions</td>
            <td>@Model.Age</td>

            <td>@Model.SkillSetRequired</td>

            <td>@Model.Status</td>
            <td>@Model.JobDescription</td>
        </tr>


    </tbody>
</table>

