@model DomainViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 offset-1">


            <div class="col-md-6 align-content-end shadow-lg rounded pl-5 pr-5 pb-3 offset-1">
                <h4 class="card-header-pills">Update Domain Details</h4>
                <form asp-controller="Domain" asp-action="Edit" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="@Model.ProjectName" />
                    <input type="hidden" asp-for="@Model.ProjectFkId" />
                    <input type="hidden" asp-for="@Model.EmployeeId" />
                    <input type="hidden" asp-for="@Model.Age" />
                    @*                        <input type="hidden" asp-for="UserDetailsId" />
                    *@
                 @*   <input type="hidden" asp-for="EmployeeId" />
                    <input type="hidden" asp-for="ProjectFkId" />
                    <input type="hidden" asp-for="ProjectName" />

*@
                    @*   <div class="form-group">
                        <label asp-for="ProjectId" class="form-label">Project Name</label>
                        <br />
                        <select asp-for="ProjectId" class="dropdown btn btn-outline-dark">
                            <option value="">--Select--</option>
                            @foreach (var project in Model.ProjectViewModels)
                            {
                                <option value="@project.Id">@project.ProjectName</option>
                            }
                        </select>
                        <span asp-validation-for="ProjectId"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="DomainName">Domain Name</label>
                        <input type="text" asp-for="DomainName" placeholder="Enter Name" class="form-control" />
                        <span asp-validation-for="DomainName" class="text-bg-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="SkillSetRequired">skills Required</label>
                        <input type="text" asp-for="SkillSetRequired" placeholder="Skills reuired" class="form-control" />
                        <span asp-validation-for="SkillSetRequired" class="text-bg-danger"></span>

                    </div>
                    @*  <div class="form-group">
                    <label asp-for="CityId">City</label>
                    <input type="text" asp-for="CityId" placeholder="City Id" class="form-control" />
                    <span asp-validation-for="CityId" class="text-bg-danger"></span>

                    </div>*@


                    @* testing of city and states*@
                    @*  <label for="states">States:</label>
                    <select id="states" class="form-control">
                    <option value="">--Select State--</option>
                    @foreach (var state in Model.StateViewModels.Distinct())
                    {
                    <option value="@state.Id">@state.StateName</option>
                    }
                    </select>
                    <label for="cities">Cities:</label>
                    <select id="cities" name="cityId" class="form-control"></select>
                    *@
                    @*  <div class="form-group">
                    <label for="cities">Cities:</label>
                    <select id="cities" class="form-control" disabled="disabled">
                    <option value="">--Select City--</option>
                    </select>
                    </div>*@

                    @*  <label asp-for="CityId">City</label>
                    <select id="genre-dropdown" name="cityId" asp-for="CityId" class="w-75 form-select" aria-describedby="button-addon2">
                    <option value="">--Select--</option>
                    @foreach (var city in Model.CityViewModels.Distinct())
                    {
                    <option value="@city.Id">@city.CityName</option>
                    }
                    </select>*@

                    <div class="form-group">
                        <label asp-for="Grade">Location</label>
                        <input type="text" asp-for="Grade" placeholder="Enter grade" class="form-control" />
                        <span asp-validation-for="Grade" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Status">Source</label>
                        <input type="text" asp-for="Status" placeholder="Enter status" class="form-control" />
                        <span asp-validation-for="Status" class="text-bg-danger"></span>
                    </div>
                    @*  <div class="mb-2">
                    <label asp-for="UploadDate" class="form-label"></label>
                    <input type="date" asp-for="UploadDate" class="form-control" />
                    <span asp-validation-for="UploadDate"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Grade">Grade</label>
                        <input type="text" asp-for="Grade" placeholder="Enter Grade" class="form-control" />
                        <span asp-validation-for="Grade" class="text-bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkillSetRequired" class="form-label">Skills Required:</label><br />
                        <input type="text" asp-for="SkillSetRequired" placeholder="Enter skills required" class="form-control" />
                        <span asp-validation-for="SkillSetRequired" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ApprovedDate" class="form-label">Approved Date:</label><br />
                        <input type="date" asp-for="ApprovedDate" placeholder="Approved Date" class="form-control" />
                        <span asp-validation-for="ApprovedDate" class="text-bg-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="No_Of_Positions" class="form-label">Positions Required :</label><br />
                        <input type="text" asp-for="No_Of_Positions" placeholder="postions required" class="form-control" />
                        <span asp-validation-for="No_Of_Positions" class="text-bg-danger"></span>
                    </div>


                     <div class="form-group">
                        <label asp-for="JobDescription" class="form-label">Enter Job Description :</label><br />
                        <textarea rows="5" asp-for="JobDescription" class="form-control" placeholder="Enter Job Description">@Model.JobDescription</textarea>
                        <span asp-validation-for="JobDescription" class="text-bg-danger"></span>
                    </div>



                    <br />

                    <div class="form-group">
                        @*<input type="submit" class="=btn btn-dark float-right" value="Add Property" />*@
                        <button type="submit" class="btn btn-dark" value="Add Domain">Update Domain</button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}



