@model List<DomainViewModel>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    var flag = true;
    var token = Context.Session.GetString("token");
    var empEmail = Context.Session.GetString("empEmail");
    int projectId = 0;
    if (ViewContext.RouteData.Values["id"] != null && ViewContext.RouteData.Values["id"].ToString() != null)
    {
        projectId = int.Parse(ViewContext.RouteData.Values["id"].ToString());
    }


}




<h2 class="text-center mt-4 mb-5">@ViewBag.projectName</h2>

<div class="row mt-5">

    <div class="col-md-2"></div>
    <div class="col-md-8 mt-4">
        <a asp-controller="Home" asp-action="Index" class="text-start btn btn-warning">Go to HomePage</a>

        <div class="row">
            <div class="col">
                <div class="col text-end">
                </div>
                <h3 class="mt-4">Domain Index</h3>
            </div>
            @if (empEmail != null)
            {


                <div class="col text-end">
                    <a asp-controller="Domain" asp-action="Create" asp-route-projectId="@projectId" class="btn btn-dark">Add new Domain</a>
                </div>
            }
        </div>
        <div class="row">
            <table class="table table-hover shadow">
                <thead>
                    <tr>
                       
                        <th>Domain Name</th>
                       
                        <th>Status</th>
                        <th>Positions Required</th>
                        @if (empEmail != null)
                        {

                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count <= 0)
                    {
                        flag = false;
                    }
                    @foreach (var item in Model)
                    {


                        <tr>
                           
                            <td>@item.DomainName</td>
                           
                            <td>@item.Status</td>
                            <td>@item.No_Of_Positions</td>
                            @if (empEmail != null)
                            {

                                <td>
                                    <a asp-controller="Domain" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-controller="Domain" asp-action="Edit" asp-route-id="@item.Id">Customize</a> |
                                    <a asp-controller="Domain" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
            @if (!flag)
            {
                <h3>NO Records Found!</h3>
            }
        </div>
    </div>

</div>


