@model Proj_Acc_Dto
@{
    ViewData["Title"] = "AllBRs";
    var flag = true;
    var Open = 0;
    var Closed = 0;
    var Cancelled = 0;
    var Hold = 0;
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

    <style>
        .dataTables_scrollHead {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    </style>

</head>

<div class="row mt-5">

    <div class="col-md-2"></div>
    <div class="col-md-8 mt-4">
        <form asp-controller="ProjectBr" asp-action="AllBRs" method="post" class="mb-5">
            <div class="row">
            </div>
        </form>


        <div class="row mt-4">

            <div class="col-2">

                <a asp-controller="Home" asp-action="Navigate" class="text-start btn btn-warning">Go to HomePage</a>

            </div>

        </div>
        <table id="tblAllBRs" class="table table-hover shadow">
            <thead class="bg-info">
                <tr>

                    <th>Account Name</th>
                    <th>Project Name</th>
                    <th>Project Id</th>
                    <th>Total Candidates Required</th>
                    <th>Approve Date</th>
                    <th>Age</th>
                    <th>Status</th>
                   @* <th>Added By</th>
*@
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    flag = false;
                }
                @foreach (var item in Model.accountViewModels)
                {

                    @foreach (var project in Model.projectViewModels)
                    {
                        @if (project.AccountId == item.Id)
                        {
                            <tr>

                                <td>@item.AccountName</td>
                                <td>@project.ProjectName</td>
                                <td>@project.ProjectId</td>
                                @*                                <td> <a asp-controller="ProjectBr" asp-action="Details" asp-route-id="@project.Id">@project.ProjectId</a> </td>
                    *@
                                <td>@project.Total_Positions</td>

                                <td>@project.ApproveDate?.ToShortDateString()</td>
                                <td>@project.Age</td>
                                @if (true)
                                {
                                    Open = 0;
                                    Closed = 0;
                                    Cancelled = 0;
                                    Hold = 0;
                                }
                                @foreach (var domain in Model.DomainsViewModels)
                                {
                                    @if (project.Id == domain.ProjectFkId)
                                    {
                                        @if (domain.Status == "OPEN")
                                        {
                                            Open += 1;
                                        }
                                        else if (domain.Status == "CLOSED")
                                        {
                                            Closed += 1;
                                        }
                                        else if (domain.Status == "HOLD")
                                        {
                                            Hold += 1;
                                        }
                                        else if (domain.Status == "CANCELLED")
                                        {
                                            Cancelled += 1;
                                        }
                                    }
                                }
                                <td>
                                    OPEN : @Open <br>
                                    CLOSED : @Closed <br>
                                    HOLD : @Hold <br>
                                    CANCELLED : @Cancelled
                                </td>


                              @*  @foreach (var emp in Model.SignUpViewModels)
                                {
                                    @if (project.EmployeeId == emp.Id)
                                    {
                                        <td>@emp.Name</td>
                                    }
                                }*@


                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        @if (!flag)
        {
            <h3>NO Records Found!</h3>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>


    <script>
        $(document).ready(function ($) {
            $(document).ready(function ($) {
                $('#tblAllBRs').DataTable({
                    fixedHeader: true
                });



            });
        });
    </script>
}



