@model Proj_Acc_Dto
@{
    ViewData["Title"] = "Index";
    var flag = true;
}

<h1 class="text-center">All Your BR</h1>



<div class="row mt-5">

    <div class="col-md-1"></div>
    <div class="col-md-10 mt-4">

       
        <div class="row mt-4">
           
            <div class="col-2">
             
                <a asp-controller="Home" asp-action="Navigate" class="text-start btn btn-warning">Go to HomePage</a>

            </div>
            <div class="col-8" >
                <a style="width:auto;margin-left:auto" asp-controller="ProjectBr" asp-action="Create" asp-route-id="@Model.ProjectId" class="btn btn-dark " style="margin-left:100%">Add new ProjectBR</a>
            </div>
        </div>
            <table class="table table-hover shadow ">
                <thead class="bg-info">
                    <tr>
                       
                        <th>Account Name</th>
                        <th>Project Name</th>
                        <th>Project Id</th>
                        <th>Total Positions required</th>
                        <th>Approve Date</th>
                        <th>Age</th>
                        <th >Action </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                        flag = false;
                    }
                    @foreach (var item in Model.accountViewModels)
                    {

                        @foreach (var project in Model.projectViewModels)
                        {
                            @if (project.AccountId == item.Id)
                            {
                                <tr>
                                   
                                    <td>@item.AccountName</td>
                                    <td>@project.ProjectName</td>
@*                                    <td>@project.ProjectId</td>
                    *@
                                <td> <a asp-controller="Domain" asp-action="Index" asp-route-id="@project.Id">@project.ProjectId</a> </td>

                                   @* <td>@project.ApprovedDate.ToShortDateString()</td>
                                    <td>@project.Grade</td>
                                     <td>@item.AccountViewModel.AccountName</td>
                                    <td>@project.SkillSetRequired</td>
                                    <td>@project.No_Of_Positions</td>

                                    <td>@project.Status</td>*@
                                    <td>@project.Total_Positions</td>
                                    <td>@project.ApproveDate?.ToShortDateString()</td>
                                    <td>@project.Age</td>
                                   <td>
                                        <div>
                                            <a asp-controller="ProjectBr" asp-action="Edit" asp-route-id="@project.Id">Customize</a> |          
                                            <a asp-controller="ProjectBr" asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                                        </div>
                                    </td>


                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            @if (!flag)
            {
                <h3>NO Records Found!</h3>
            }
        </div>
    </div>




